---
import { getAllPosts } from "../../lib/hashnode/client";
import Button from "../button.astro";
import PostsLoop from "../posts-loop.astro";

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;
const recentPosts = allPosts.slice(0, 3);
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Recent Posts
  </h2>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div
      class="flex flex-col items-start justify-start md:flex-row md:space-x-7"
    >
      <div class="space-y-7">
        <PostsLoop count="2" reduce="true" />

        <div class="flex items-center justify-center w-full py-5">
          <Button text="All Posts" link="/posts" />
        </div>
      </div>
    </div>
  </div>
</section>
