---
interface Props {
  link: string;
  text: string;
}

const { link, text } = Astro.props;
---

<a
  href={link}
  type="button"
  class="btn inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold"
>
  <strong>{text}</strong>
  <div id="container-stars">
    <div id="stars"></div>
  </div>

  <div id="glow">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</a>
