---
import PageHeading from "../../components/page-heading.astro";
import PostsLoop from "../../components/posts-loop.astro";
import Layout from "../../layouts/main.astro";
import addLangPaths from "../../lib/utils/add-lang-paths";
import { t } from "../../lib/utils/il8n";

export function getStaticPaths() {
  return addLangPaths();
}

const headTitle = t("Posts", "Publicaciones", t(Astro));
---

<Layout title={headTitle}>
  <section class="max-w-4xl mx-auto px-7 lg:px-0">
    <PageHeading title={headTitle} />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop />
    </div>
  </section>
</Layout>
